<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>mvc_2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 用户信息放入到Session中的键的名字 -->	
  <context-param>
  	<param-name>userSessionKey</param-name>
  	<param-value>USERSESSIONKEY</param-value>	
  </context-param>

  <context-param>
  	<param-name>rediretPage</param-name>
  	<param-value>/index.jsp</param-value>
  </context-param>
  <context-param>
  	<param-name>uncheckedUrls</param-name>
  	<param-value>/404.jsp,/500.jsp,register.jsp,/index.jsp</param-value>
  </context-param>
 

  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>cn.edu.swu.mvcapp.servelet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
    <load-on-startup>1 </load-on-startup>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.swu.mvcapp.servelet.Login</servlet-class>
    <load-on-startup>1 </load-on-startup>  
</servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>*.go</url-pattern>
    <load-on-startup>1 </load-on-startup>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>cn.edu.swu.mvcapp.servelet.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>ProcessStepServlet</servlet-name>
    <servlet-class>cn.edu.swu.mvcapp.servelet.ProcessStepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessStepServlet</servlet-name>
    <url-pattern>/processstep1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProcessStep2</servlet-name>
    <servlet-class>cn.edu.swu.mvcapp.servelet.ProcessStep2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessStep2</servlet-name>
    <url-pattern>/process/processstep2</url-pattern>
  </servlet-mapping>
  
  <!-- 关于解决表单重复提交问题 -->
  <servlet>
    <servlet-name>TokenServlet</servlet-name>
    <servlet-class>cn.edu.swu.mvcapp.servelet.TokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TokenServlet</servlet-name>
    <url-pattern>/tokenServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 关于产生验证码问题 -->
  <servlet>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>cn.edu.swu.formIssue.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/checkCodeServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ValidateColorServlet</servlet-name>
    <servlet-class>cn.edu.swu.mvcapp.servelet.ValidateColorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateColorServlet</servlet-name>
    <url-pattern>/validateColorServlet</url-pattern>
  </servlet-mapping>
  <!-- 过滤器 -->
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>cn.edu.swu.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>
